<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BBB 頁面</title>
  </head>
  <body>
    <h1>{{text}}</h1>
        <button onclick="javascript:location.href='{{next}}'">GO A頁面</button>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.7.1/sdk.js"></script>
  </body>
  <script>
    liff
    .init({ liffId: '{{ liff_id }}' })
    .then(() => {
    if (!liff.isLoggedIn()) {
            liff.login({ redirectUri: location.href })
            return new Promise(resolve => {}) // 永遠不會結束的 Promise
        }
        alert("Hi")
    })
    .catch((err) => {
      alert("ERROR 0.0")
    });
  </script>
</html>